body {
    font-family: "Lato", sans-serif;
  }
.Navbar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black; 
    overflow-x: hidden;
    transition:0.6s;
    padding-top: 60px;
    

}
div{
    display: block;
    
}
.Navbar .closebtn{
position: absolute;
top: 0;
right:25px;
font-size: 30px;
margin-left:50px;
}
.Navbar a{
    padding: 8px 8px 8px 35px;
    text-decoration: none;
    word-wrap: unset;
    word-break: unset;
    font-size:22px;
    color: #818181;
    display: block;
    transition: 0.6s;
    
}
.Navbar a:hover {
    color: #f1f1f1;
    
  }
 
 